<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="tmptawaco" connectionString="Data Source=DESKTOP-DLRDABP;Initial Catalog=tmptawaco;Persist Security Info=True;User ID=tmptawaco;Password=123456;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="tawaco2" connectionString="Data Source=DESKTOP-DLRDABP;Initial Catalog=tawaco2;Persist Security Info=True;User ID=dht;Password=123456;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" /><add name="tmptawacoEntities" connectionString="metadata=res://*/NewModel.csdl|res://*/NewModel.ssdl|res://*/NewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DLRDABP;initial catalog=tmptawaco;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="tawaco2Entities" connectionString="metadata=res://*/OldModel.csdl|res://*/OldModel.ssdl|res://*/OldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DLRDABP;initial catalog=tawaco2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>